In [1]:
# Import required libraries
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Read in the insurance dataset
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")

In [27]:
# Check out the insurance dataset
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [23]:
#check if there is 0 value
insurance.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
# Turn all categories into numbers
insurance_one_hot = pd.get_dummies(insurance)
insurance_one_hot.head() # view the converted columns

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [7]:
# Create X & y values
X = insurance_one_hot.drop("charges", axis=1)
y = insurance_one_hot["charges"]

In [8]:
# Create training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.2, 
                                                    random_state=42) # set random state for reproducible splits

In [9]:
X_train

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
560,46,19.950,2,1,0,1,0,0,1,0,0
1285,47,24.320,0,1,0,1,0,1,0,0,0
1142,52,24.860,0,1,0,1,0,0,0,1,0
969,39,34.320,5,1,0,1,0,0,0,1,0
486,54,21.470,3,1,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1095,18,31.350,4,1,0,1,0,1,0,0,0
1130,39,23.870,5,1,0,1,0,0,0,1,0
1294,58,25.175,0,0,1,1,0,1,0,0,0
860,37,47.600,2,1,0,0,1,0,0,0,1
1126,55,29.900,0,0,1,1,0,0,0,0,1

Try using RidgeCV

In [24]:
from sklearn.linear_model import RidgeCV
import numpy as np

rdg = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1])
rdg.fit(X_train, y_train)
RidgeCV()

RidgeCV(alphas=array([ 0.1,  1. , 10. ]))

In [25]:
rdg_preds = rdg.predict(X_test)

In [26]:
from sklearn.metrics import mean_squared_error

lin_mse = mean_squared_error(rdg_preds, y_test)
rdg_rmse = np.sqrt(lin_mse)
rdg_rmse

5798.271036065023

Try Using Neural Networks

In [21]:
# Set random seed
tf.random.set_seed(42)

# Create a new model 
insurance_model = tf.keras.Sequential([
  tf.keras.layers.Dense(units=11, activation='relu',), 
  tf.keras.layers.Dense(units=50, activation='relu',),
  tf.keras.layers.Dense(units=50, activation='relu',),
  tf.keras.layers.Dense(units=10, activation='relu',),
  tf.keras.layers.Dense(units=9, activation='relu',),
  tf.keras.layers.Dense(units=8, activation='relu',),
  tf.keras.layers.Dense(units=1, activation='relu',),

])

# Compile the model
insurance_model.compile(loss=tf.keras.losses.mae,
                        optimizer=tf.keras.optimizers.Adam(),
                        metrics=['mae'])

# Fit the model
insurance_model.fit(X_train, y_train, epochs=300)

Epoch 1/300
34/34 [==============================] - 1s 2ms/step - loss: 13343.3115 - mae: 13343.3115
Epoch 2/300
34/34 [==============================] - 0s 1ms/step - loss: 13301.0615 - mae: 13301.0615
Epoch 3/300
34/34 [==============================] - 0s 1ms/step - loss: 12834.6973 - mae: 12834.6973
Epoch 4/300
34/34 [==============================] - 0s 1ms/step - loss: 9817.3359 - mae: 9817.3359
Epoch 5/300
34/34 [==============================] - 0s 1ms/step - loss: 7681.9502 - mae: 7681.9502
Epoch 6/300
34/34 [==============================] - 0s 1ms/step - loss: 7532.1284 - mae: 7532.1284
Epoch 7/300
34/34 [==============================] - 0s 1ms/step - loss: 7433.5986 - mae: 7433.5986
Epoch 8/300
34/34 [==============================] - 0s 1ms/step - loss: 7345.0537 - mae: 7345.0537
Epoch 9/300
34/34 [==============================] - 0s 1ms/step - loss: 7267.9038 - mae: 7267.9038
Epoch 10/300
34/34 [==============================] - 0s 1ms/step - loss: 7190.6538 - mae: 7190.6538
Epoch 11/300
34/34 [==============================] - 0s 1ms/step - loss: 7127.4292 - mae: 7127.4292
Epoch 12/300
34/34 [==============================] - 0s 1ms/step - loss: 7043.0063 - mae: 7043.0063
Epoch 13/300
34/34 [==============================] - 0s 1ms/step - loss: 6971.9346 - mae: 6971.9346
Epoch 14/300
34/34 [==============================] - 0s 1ms/step - loss: 6907.3169 - mae: 6907.3169
Epoch 15/300
34/34 [==============================] - 0s 1ms/step - loss: 6848.1631 - mae: 6848.1631
Epoch 16/300
34/34 [==============================] - 0s 1ms/step - loss: 6797.3853 - mae: 6797.3853
Epoch 17/300
34/34 [==============================] - 0s 2ms/step - loss: 6756.5732 - mae: 6756.5732
Epoch 18/300
34/34 [==============================] - 0s 1ms/step - loss: 6714.9556 - mae: 6714.9556
Epoch 19/300
34/34 [==============================] - 0s 2ms/step - loss: 6692.0186 - mae: 6692.0186
Epoch 20/300
34/34 [==============================] - 0s 1ms/step - loss: 6662.0054 - mae: 6662.0054
Epoch 21/300
34/34 [==============================] - 0s 1ms/step - loss: 6642.1729 - mae: 6642.1729
Epoch 22/300
34/34 [==============================] - 0s 1ms/step - loss: 6625.7866 - mae: 6625.7866
Epoch 23/300
34/34 [==============================] - 0s 1ms/step - loss: 6606.5854 - mae: 6606.5854
Epoch 24/300
34/34 [==============================] - 0s 1ms/step - loss: 6586.7075 - mae: 6586.7075
Epoch 25/300
34/34 [==============================] - 0s 1ms/step - loss: 6568.5361 - mae: 6568.5361
Epoch 26/300
34/34 [==============================] - 0s 1ms/step - loss: 6555.3096 - mae: 6555.3096
Epoch 27/300
34/34 [==============================] - 0s 1ms/step - loss: 6543.6489 - mae: 6543.6489
Epoch 28/300
34/34 [==============================] - 0s 1ms/step - loss: 6533.0703 - mae: 6533.0703
Epoch 29/300
34/34 [==============================] - 0s 1ms/step - loss: 6504.0923 - mae: 6504.0923
Epoch 30/300
34/34 [==============================] - 0s 1ms/step - loss: 6501.4429 - mae: 6501.4429
Epoch 31/300
34/34 [==============================] - 0s 1ms/step - loss: 6491.0146 - mae: 6491.0146
Epoch 32/300
34/34 [==============================] - 0s 2ms/step - loss: 6459.6680 - mae: 6459.6680
Epoch 33/300
34/34 [==============================] - 0s 1ms/step - loss: 6435.0518 - mae: 6435.0518
Epoch 34/300
34/34 [==============================] - 0s 1ms/step - loss: 6426.5410 - mae: 6426.5410
Epoch 35/300
34/34 [==============================] - 0s 1ms/step - loss: 6398.4644 - mae: 6398.4644
Epoch 36/300
34/34 [==============================] - 0s 1ms/step - loss: 6388.1440 - mae: 6388.1440
Epoch 37/300
34/34 [==============================] - 0s 1ms/step - loss: 6374.0054 - mae: 6374.0054
Epoch 38/300
34/34 [==============================] - 0s 2ms/step - loss: 6338.9097 - mae: 6338.9097
Epoch 39/300
34/34 [==============================] - 0s 1ms/step - loss: 6316.9722 - mae: 6316.9722
Epoch 40/300
34/34 [==============================] - 0s 1ms/step - loss: 6292.4219 - mae: 6292.4219
Epoch 41/300
34/34 [==============================] - 0s 1ms/step - loss: 6265.4658 - mae: 6265.4658
Epoch 42/300
34/34 [==============================] - 0s 1ms/step - loss: 6230.4702 - mae: 6230.4702
Epoch 43/300
34/34 [==============================] - 0s 1ms/step - loss: 6214.5630 - mae: 6214.5630
Epoch 44/300
34/34 [==============================] - 0s 1ms/step - loss: 6160.1694 - mae: 6160.1694
Epoch 45/300
34/34 [==============================] - 0s 1ms/step - loss: 6125.1841 - mae: 6125.1841
Epoch 46/300
34/34 [==============================] - 0s 1ms/step - loss: 6102.1470 - mae: 6102.1470
Epoch 47/300
34/34 [==============================] - 0s 1ms/step - loss: 6070.3857 - mae: 6070.3857
Epoch 48/300
34/34 [==============================] - 0s 2ms/step - loss: 6021.3760 - mae: 6021.3760
Epoch 49/300
34/34 [==============================] - 0s 1ms/step - loss: 5943.4873 - mae: 5943.4873
Epoch 50/300
34/34 [==============================] - 0s 1ms/step - loss: 5878.4541 - mae: 5878.4541
Epoch 51/300
34/34 [==============================] - 0s 1ms/step - loss: 5831.3257 - mae: 5831.3257
Epoch 52/300
34/34 [==============================] - 0s 1ms/step - loss: 5748.0903 - mae: 5748.0903
Epoch 53/300
34/34 [==============================] - 0s 1ms/step - loss: 5653.4800 - mae: 5653.4800
Epoch 54/300
34/34 [==============================] - 0s 2ms/step - loss: 5547.0757 - mae: 5547.0757
Epoch 55/300
34/34 [==============================] - 0s 1ms/step - loss: 5451.6143 - mae: 5451.6143
Epoch 56/300
34/34 [==============================] - 0s 2ms/step - loss: 5271.6284 - mae: 5271.6284
Epoch 57/300
34/34 [==============================] - 0s 1ms/step - loss: 5046.2563 - mae: 5046.2563
Epoch 58/300
34/34 [==============================] - 0s 1ms/step - loss: 4773.7305 - mae: 4773.7305
Epoch 59/300
34/34 [==============================] - 0s 1ms/step - loss: 4495.2793 - mae: 4495.2793
Epoch 60/300
34/34 [==============================] - 0s 1ms/step - loss: 4213.3149 - mae: 4213.3149
Epoch 61/300
34/34 [==============================] - 0s 2ms/step - loss: 4016.7798 - mae: 4016.7798
Epoch 62/300
34/34 [==============================] - 0s 1ms/step - loss: 3859.0471 - mae: 3859.0471
Epoch 63/300
34/34 [==============================] - 0s 1ms/step - loss: 3830.6992 - mae: 3830.6992
Epoch 64/300
34/34 [==============================] - 0s 1ms/step - loss: 3765.9067 - mae: 3765.9067
Epoch 65/300
34/34 [==============================] - 0s 1ms/step - loss: 3696.6819 - mae: 3696.6819
Epoch 66/300
34/34 [==============================] - 0s 1ms/step - loss: 3681.0400 - mae: 3681.0400
Epoch 67/300
34/34 [==============================] - 0s 1ms/step - loss: 3590.4133 - mae: 3590.4133
Epoch 68/300
34/34 [==============================] - 0s 1ms/step - loss: 3592.6057 - mae: 3592.6057
Epoch 69/300
34/34 [==============================] - 0s 1ms/step - loss: 3569.7344 - mae: 3569.7344
Epoch 70/300
34/34 [==============================] - 0s 1ms/step - loss: 3552.7881 - mae: 3552.7881
Epoch 71/300
34/34 [==============================] - 0s 1ms/step - loss: 3556.3452 - mae: 3556.3452
Epoch 72/300
34/34 [==============================] - 0s 1ms/step - loss: 3488.1848 - mae: 3488.1848
Epoch 73/300
34/34 [==============================] - 0s 1ms/step - loss: 3480.3020 - mae: 3480.3020
Epoch 74/300
34/34 [==============================] - 0s 1ms/step - loss: 3466.6113 - mae: 3466.6113
Epoch 75/300
34/34 [==============================] - 0s 1ms/step - loss: 3439.1929 - mae: 3439.1929
Epoch 76/300
34/34 [==============================] - 0s 1ms/step - loss: 3415.6277 - mae: 3415.6277
Epoch 77/300
34/34 [==============================] - 0s 1ms/step - loss: 3405.8560 - mae: 3405.8560
Epoch 78/300
34/34 [==============================] - 0s 1ms/step - loss: 3379.2229 - mae: 3379.2229
Epoch 79/300
34/34 [==============================] - 0s 1ms/step - loss: 3373.6174 - mae: 3373.6174
Epoch 80/300
34/34 [==============================] - 0s 1ms/step - loss: 3343.4570 - mae: 3343.4570
Epoch 81/300
34/34 [==============================] - 0s 1ms/step - loss: 3345.6836 - mae: 3345.6836
Epoch 82/300
34/34 [==============================] - 0s 1ms/step - loss: 3304.0195 - mae: 3304.0195
Epoch 83/300
34/34 [==============================] - 0s 1ms/step - loss: 3267.9998 - mae: 3267.9998
Epoch 84/300
34/34 [==============================] - 0s 1ms/step - loss: 3266.2690 - mae: 3266.2690
Epoch 85/300
34/34 [==============================] - 0s 1ms/step - loss: 3223.9133 - mae: 3223.9133
Epoch 86/300
34/34 [==============================] - 0s 1ms/step - loss: 3225.6956 - mae: 3225.6956
Epoch 87/300
34/34 [==============================] - 0s 1ms/step - loss: 3198.6536 - mae: 3198.6536
Epoch 88/300
34/34 [==============================] - 0s 1ms/step - loss: 3175.3269 - mae: 3175.3269
Epoch 89/300
34/34 [==============================] - 0s 1ms/step - loss: 3142.6440 - mae: 3142.6440
Epoch 90/300
34/34 [==============================] - 0s 2ms/step - loss: 3102.6765 - mae: 3102.6765
Epoch 91/300
34/34 [==============================] - 0s 1ms/step - loss: 3099.3503 - mae: 3099.3503
Epoch 92/300
34/34 [==============================] - 0s 1ms/step - loss: 3160.1116 - mae: 3160.1116
Epoch 93/300
34/34 [==============================] - 0s 2ms/step - loss: 3133.2083 - mae: 3133.2083
Epoch 94/300
34/34 [==============================] - 0s 1ms/step - loss: 3080.4644 - mae: 3080.4644
Epoch 95/300
34/34 [==============================] - 0s 1ms/step - loss: 3078.1829 - mae: 3078.1829
Epoch 96/300
34/34 [==============================] - 0s 1ms/step - loss: 3024.9241 - mae: 3024.9241
Epoch 97/300
34/34 [==============================] - 0s 1ms/step - loss: 3040.0298 - mae: 3040.0298
Epoch 98/300
34/34 [==============================] - 0s 1ms/step - loss: 3071.0291 - mae: 3071.0291
Epoch 99/300
34/34 [==============================] - 0s 1ms/step - loss: 2989.0190 - mae: 2989.0190
Epoch 100/300
34/34 [==============================] - 0s 1ms/step - loss: 2975.3948 - mae: 2975.3948
Epoch 101/300
34/34 [==============================] - 0s 1ms/step - loss: 2967.7273 - mae: 2967.7273
Epoch 102/300
34/34 [==============================] - 0s 1ms/step - loss: 2961.7839 - mae: 2961.7839
Epoch 103/300
34/34 [==============================] - 0s 1ms/step - loss: 2950.8188 - mae: 2950.8188
Epoch 104/300
34/34 [==============================] - 0s 1ms/step - loss: 2938.2031 - mae: 2938.2031
Epoch 105/300
34/34 [==============================] - 0s 1ms/step - loss: 2961.3376 - mae: 2961.3376
Epoch 106/300
34/34 [==============================] - 0s 1ms/step - loss: 2918.0803 - mae: 2918.0803
Epoch 107/300
34/34 [==============================] - 0s 1ms/step - loss: 2928.3723 - mae: 2928.3723
Epoch 108/300
34/34 [==============================] - 0s 1ms/step - loss: 2923.3193 - mae: 2923.3193
Epoch 109/300
34/34 [==============================] - 0s 1ms/step - loss: 2906.0303 - mae: 2906.0303
Epoch 110/300
34/34 [==============================] - 0s 1ms/step - loss: 2913.8723 - mae: 2913.8723
Epoch 111/300
34/34 [==============================] - 0s 1ms/step - loss: 2911.0215 - mae: 2911.0215
Epoch 112/300
34/34 [==============================] - 0s 1ms/step - loss: 2885.3264 - mae: 2885.3264
Epoch 113/300
34/34 [==============================] - 0s 1ms/step - loss: 2890.1860 - mae: 2890.1860
Epoch 114/300
34/34 [==============================] - 0s 1ms/step - loss: 2874.4065 - mae: 2874.4065
Epoch 115/300
34/34 [==============================] - 0s 1ms/step - loss: 2890.7473 - mae: 2890.7473
Epoch 116/300
34/34 [==============================] - 0s 1ms/step - loss: 2893.8079 - mae: 2893.8079
Epoch 117/300
34/34 [==============================] - 0s 1ms/step - loss: 2871.1692 - mae: 2871.1692
Epoch 118/300
34/34 [==============================] - 0s 1ms/step - loss: 2845.4824 - mae: 2845.4824
Epoch 119/300
34/34 [==============================] - 0s 1ms/step - loss: 2835.7612 - mae: 2835.7612
Epoch 120/300
34/34 [==============================] - 0s 1ms/step - loss: 2843.4507 - mae: 2843.4507
Epoch 121/300
34/34 [==============================] - 0s 1ms/step - loss: 2819.7444 - mae: 2819.7444
Epoch 122/300
34/34 [==============================] - 0s 1ms/step - loss: 2837.0952 - mae: 2837.0952
Epoch 123/300
34/34 [==============================] - 0s 1ms/step - loss: 2814.5425 - mae: 2814.5425
Epoch 124/300
34/34 [==============================] - 0s 1ms/step - loss: 2813.1106 - mae: 2813.1106
Epoch 125/300
34/34 [==============================] - 0s 1ms/step - loss: 2792.3928 - mae: 2792.3928
Epoch 126/300
34/34 [==============================] - 0s 1ms/step - loss: 2795.5679 - mae: 2795.5679
Epoch 127/300
34/34 [==============================] - 0s 1ms/step - loss: 2801.8977 - mae: 2801.8977
Epoch 128/300
34/34 [==============================] - 0s 1ms/step - loss: 2821.4419 - mae: 2821.4419
Epoch 129/300
34/34 [==============================] - 0s 2ms/step - loss: 2805.3191 - mae: 2805.3191
Epoch 130/300
34/34 [==============================] - 0s 2ms/step - loss: 2774.4663 - mae: 2774.4663
Epoch 131/300
34/34 [==============================] - 0s 3ms/step - loss: 2778.9158 - mae: 2778.9158
Epoch 132/300
34/34 [==============================] - 0s 2ms/step - loss: 2778.1536 - mae: 2778.1536
Epoch 133/300
34/34 [==============================] - 0s 2ms/step - loss: 2771.6729 - mae: 2771.6729
Epoch 134/300
34/34 [==============================] - 0s 2ms/step - loss: 2748.0166 - mae: 2748.0166
Epoch 135/300
34/34 [==============================] - 0s 2ms/step - loss: 2737.9878 - mae: 2737.9878
Epoch 136/300
34/34 [==============================] - 0s 2ms/step - loss: 2736.5137 - mae: 2736.5137
Epoch 137/300
34/34 [==============================] - 0s 2ms/step - loss: 2754.3179 - mae: 2754.3179
Epoch 138/300
34/34 [==============================] - 0s 2ms/step - loss: 2762.2136 - mae: 2762.2136
Epoch 139/300
34/34 [==============================] - 0s 2ms/step - loss: 2742.2585 - mae: 2742.2585
Epoch 140/300
34/34 [==============================] - 0s 2ms/step - loss: 2741.4602 - mae: 2741.4602
Epoch 141/300
34/34 [==============================] - 0s 2ms/step - loss: 2732.3201 - mae: 2732.3201
Epoch 142/300
34/34 [==============================] - 0s 2ms/step - loss: 2720.8433 - mae: 2720.8433
Epoch 143/300
34/34 [==============================] - 0s 2ms/step - loss: 2730.8833 - mae: 2730.8833
Epoch 144/300
34/34 [==============================] - 0s 3ms/step - loss: 2695.1838 - mae: 2695.1838
Epoch 145/300
34/34 [==============================] - 0s 2ms/step - loss: 2716.9612 - mae: 2716.9612
Epoch 146/300
34/34 [==============================] - 0s 2ms/step - loss: 2725.4646 - mae: 2725.4646
Epoch 147/300
34/34 [==============================] - 0s 2ms/step - loss: 2686.8167 - mae: 2686.8167
Epoch 148/300
34/34 [==============================] - 0s 2ms/step - loss: 2679.0198 - mae: 2679.0198
Epoch 149/300
34/34 [==============================] - 0s 3ms/step - loss: 2669.1169 - mae: 2669.1169
Epoch 150/300
34/34 [==============================] - 0s 3ms/step - loss: 2676.0942 - mae: 2676.0942
Epoch 151/300
34/34 [==============================] - 0s 3ms/step - loss: 2674.2463 - mae: 2674.2463
Epoch 152/300
34/34 [==============================] - 0s 2ms/step - loss: 2655.6514 - mae: 2655.6514
Epoch 153/300
34/34 [==============================] - 0s 2ms/step - loss: 2668.2092 - mae: 2668.2092
Epoch 154/300
34/34 [==============================] - 0s 2ms/step - loss: 2699.0828 - mae: 2699.0828
Epoch 155/300
34/34 [==============================] - 0s 1ms/step - loss: 2702.9358 - mae: 2702.9358
Epoch 156/300
34/34 [==============================] - 0s 1ms/step - loss: 2662.5903 - mae: 2662.5903
Epoch 157/300
34/34 [==============================] - 0s 1ms/step - loss: 2634.5632 - mae: 2634.5632
Epoch 158/300
34/34 [==============================] - 0s 1ms/step - loss: 2642.5120 - mae: 2642.5120
Epoch 159/300
34/34 [==============================] - 0s 1ms/step - loss: 2632.2092 - mae: 2632.2092
Epoch 160/300
34/34 [==============================] - 0s 1ms/step - loss: 2699.6028 - mae: 2699.6028
Epoch 161/300
34/34 [==============================] - 0s 1ms/step - loss: 2628.7615 - mae: 2628.7615
Epoch 162/300
34/34 [==============================] - 0s 2ms/step - loss: 2622.9390 - mae: 2622.9390
Epoch 163/300
34/34 [==============================] - 0s 1ms/step - loss: 2643.7314 - mae: 2643.7314
Epoch 164/300
34/34 [==============================] - 0s 2ms/step - loss: 2624.5471 - mae: 2624.5471
Epoch 165/300
34/34 [==============================] - 0s 2ms/step - loss: 2610.2097 - mae: 2610.2097
Epoch 166/300
34/34 [==============================] - 0s 1ms/step - loss: 2594.4294 - mae: 2594.4294
Epoch 167/300
34/34 [==============================] - 0s 1ms/step - loss: 2592.0537 - mae: 2592.0537
Epoch 168/300
34/34 [==============================] - 0s 1ms/step - loss: 2595.9919 - mae: 2595.9919
Epoch 169/300
34/34 [==============================] - 0s 1ms/step - loss: 2578.0586 - mae: 2578.0586
Epoch 170/300
34/34 [==============================] - 0s 1ms/step - loss: 2577.9978 - mae: 2577.9978
Epoch 171/300
34/34 [==============================] - 0s 2ms/step - loss: 2607.0596 - mae: 2607.0596
Epoch 172/300
34/34 [==============================] - 0s 1ms/step - loss: 2604.8562 - mae: 2604.8562
Epoch 173/300
34/34 [==============================] - 0s 2ms/step - loss: 2601.8655 - mae: 2601.8655
Epoch 174/300
34/34 [==============================] - 0s 1ms/step - loss: 2560.5256 - mae: 2560.5256
Epoch 175/300
34/34 [==============================] - 0s 1ms/step - loss: 2551.7781 - mae: 2551.7781
Epoch 176/300
34/34 [==============================] - 0s 1ms/step - loss: 2551.7515 - mae: 2551.7515
Epoch 177/300
34/34 [==============================] - 0s 1ms/step - loss: 2537.7017 - mae: 2537.7017
Epoch 178/300
34/34 [==============================] - 0s 1ms/step - loss: 2561.7581 - mae: 2561.7581
Epoch 179/300
34/34 [==============================] - 0s 1ms/step - loss: 2536.0769 - mae: 2536.0769
Epoch 180/300
34/34 [==============================] - 0s 1ms/step - loss: 2537.0342 - mae: 2537.0342
Epoch 181/300
34/34 [==============================] - 0s 1ms/step - loss: 2543.8398 - mae: 2543.8398
Epoch 182/300
34/34 [==============================] - 0s 1ms/step - loss: 2543.8489 - mae: 2543.8489
Epoch 183/300
34/34 [==============================] - 0s 1ms/step - loss: 2505.4319 - mae: 2505.4319
Epoch 184/300
34/34 [==============================] - 0s 1ms/step - loss: 2494.6091 - mae: 2494.6091
Epoch 185/300
34/34 [==============================] - 0s 1ms/step - loss: 2488.9448 - mae: 2488.9448
Epoch 186/300
34/34 [==============================] - 0s 1ms/step - loss: 2479.9204 - mae: 2479.9204
Epoch 187/300
34/34 [==============================] - 0s 1ms/step - loss: 2533.7266 - mae: 2533.7266
Epoch 188/300
34/34 [==============================] - 0s 1ms/step - loss: 2514.2891 - mae: 2514.2891
Epoch 189/300
34/34 [==============================] - 0s 2ms/step - loss: 2472.0276 - mae: 2472.0276
Epoch 190/300
34/34 [==============================] - 0s 1ms/step - loss: 2475.3699 - mae: 2475.3699
Epoch 191/300
34/34 [==============================] - 0s 1ms/step - loss: 2479.3374 - mae: 2479.3374
Epoch 192/300
34/34 [==============================] - 0s 1ms/step - loss: 2460.3975 - mae: 2460.3975
Epoch 193/300
34/34 [==============================] - 0s 1ms/step - loss: 2475.0093 - mae: 2475.0093
Epoch 194/300
34/34 [==============================] - 0s 1ms/step - loss: 2448.4062 - mae: 2448.4062
Epoch 195/300
34/34 [==============================] - 0s 1ms/step - loss: 2429.2515 - mae: 2429.2515
Epoch 196/300
34/34 [==============================] - 0s 1ms/step - loss: 2403.7476 - mae: 2403.7476
Epoch 197/300
34/34 [==============================] - 0s 1ms/step - loss: 2454.7998 - mae: 2454.7998

In [28]:
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import BayesianRidge
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [29]:
models = {
    'SVR':SVR(),
    'XGBRegressor':XGBRegressor(),
    'Ridge':Ridge(),
    'ElasticNet':ElasticNet(),
    'SGDRegressor':SGDRegressor(),
    'BayesianRidge':BayesianRidge(),
    'LinearRegression':LinearRegression(),
    'RandomForestRegressor':RandomForestRegressor()
}

In [30]:
from sklearn.metrics import mean_squared_error

In [32]:
X_train

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
560,46,19.950,2,1,0,1,0,0,1,0,0
1285,47,24.320,0,1,0,1,0,1,0,0,0
1142,52,24.860,0,1,0,1,0,0,0,1,0
969,39,34.320,5,1,0,1,0,0,0,1,0
486,54,21.470,3,1,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1095,18,31.350,4,1,0,1,0,1,0,0,0
1130,39,23.870,5,1,0,1,0,0,0,1,0
1294,58,25.175,0,0,1,1,0,1,0,0,0
860,37,47.600,2,1,0,0,1,0,0,0,1
1126,55,29.900,0,0,1,1,0,0,0,0,1

In [33]:
y_train

560      9193.83850
1285     8534.67180
1142    27117.99378
969      8596.82780
486     12475.35130
           ...
1095     4561.18850
1130     8582.30230
1294    11931.12525
860     46113.51100
1126    10214.63600
Name: charges, Length: 1070, dtype: float64

In [35]:
model_results = []
model_names = []

# training the model with function
for name,model in models.items():
    a = model.fit(X_train, y_train)
    predicted = a.predict(X_test)
    score = np.sqrt(mean_squared_error(y_test, predicted))
    model_results.append(score)
    model_names.append(name)
    
    #creating dataframe
    df_results = pd.DataFrame([model_names,model_results])
    df_results = df_results.transpose()
    df_results = df_results.rename(columns={0:'Model',1:'RMSE'}).sort_values(by='RMSE',ascending=False)
    
print(df_results)

[05:17:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
                   Model                RMSE
4           SGDRegressor  11808734818.987705
0                    SVR        12903.571294
3             ElasticNet         8426.473145
5          BayesianRidge         5798.425998
2                  Ridge         5798.271036
6       LinearRegression         5796.284659
7  RandomForestRegressor         4680.403905
1           XGBRegressor         4330.751345